*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: calc(100vh - 1px);
    height: auto;
    background-color: aliceblue;
}

span {
    background-image: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
    background-size: cover;
    position: absolute;
    top: 50%;left: 50%;
    pointer-events: none;
    animation: goUp 6s forwards;
}


@keyframes goUp{
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
        filter: hue-rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -5000%);
        filter: hue-rotate(750deg);
    }
}